/* Contacts Page */
.contactContainer{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

/* Contacts Nav */
.contactNav{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px 0px;
	background: var(--dark-platform-color);
	color: var(--dark-primary-text);
	padding: 20px 0px;
	width: 220px;
}

.contactNavSections{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.contactNavItem{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0px 10px;
	width: 100%;
	padding: 5px 20px;
}
.contactNavItem:hover{
	background: var(--dark-primary-heading-hover);
}
.contactNavItem h3{
	font-size: 22px;
	font-weight: 700;
}

.contactNavSections ul{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}
.contactNavSections ul li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	padding: 5px 0px 5px 60px;
	cursor: pointer;
}
.contactNavSections ul li a{
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	color: var(--dark-secondary-text);
}
.contactNavSections ul li:hover{
	background: var(--dark-primary-heading-hover);
	color: var(--dark-primary-text);
}
.contactNavSections ul li:hover > a{
	color: var(--dark-primary-text);
}

/* Contact Dashboard */
.contactDashContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	padding: 40px;
}

.contactDashHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.contactDashTitle{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.contactDashTitle h3{
	font-size: 22px;
	font-weight: 700;
	color: var(--dark-primary-heading);
}
.contactDashTitle p{
	font-size: 16px;
	font-weight: 400;
	color: var(--dark-secondary-text);
}

.contactDashOther{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contactDashOther button{
	background: var(--dark-primary-heading);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px 10px;
}
.contactDashOther button span{
	font-size: 16px;
	color: var(--dark-primary-text);
	text-align: center;
}
.contactDashOther button:hover{
	background: var(--dark-primary-heading-hover);
	transition: 0.1s;
}

.contactDashMain{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0px 30px;
	padding: 40px 0px;
	width: 100%;
}
.contactDashMain table{
	color: var(--dark-primary-text);
	background: var(--dark-platform-color);
	width: 100%;
	padding: 20px;
	border-radius: 20px;
	border-collapse: collapse;
	box-shadow: 0px 0px 5px var(--dark-primary-heading);
	text-align: left;
}

.contactDashMain th, .contactDashMain td {
	padding: 10px 10px;
	text-align: left;
}
.contactDashMain th{
	padding: 25px 10px 15px 10px;
	border-bottom: 1px solid var(--dark-primary-heading-hover);
}
.contactDashMain thead tr:hover {
	background: none;
}
.contactDashMain td{
	font-size: 14px;
}
.contactDashMain tbody tr:hover {
	background: var(--dark-primary-heading-hover);
	cursor: pointer;
}

/* Contact Card */
.contactCard{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: var(--dark-platform-color);
	width: 350px;
	min-width: 350px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px var(--dark-primary-heading);
	padding: 20px 10px;
}

.ContactCardBody{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 10px;
	width: 100%;
}
.ContactCardBody h4{
	font-size: 18px;
	font-weight: 700;
	color: var(--dark-primary-text);
	padding: 0px 0px 5px 0px;
}
.ContactCardBody span{
	font-size: 16px;
	font-weight: 500;
	color: var(--dark-secondary-text);
	padding: 0px 0px 15px 0px;
	cursor: pointer;
}

.ContactCardText{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0px 10px;
	width: 100%;
	padding: 5px 0px;
}
.ContactCardText h5, .ContactCardText p{
	font-size: 15px;
}

/* Contact Form */
.ContactFormContainer{
	display: flex;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0, 0.7); /* Black w/ opacity */
}
.ContactForm{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	background: var(--dark-platform-color);
	padding: 20px 40px 30px 40px;
	border-radius: 25px;
}
.ContactForm h3{
	font-size: 25px;
	color: var(--dark-primary-heading);
	position: fixed;
}
.ContactFormHeader{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}
.ContactFormHeader span{
	font-size: 20px;
	color: var(--dark-primary-heading);
	cursor: pointer;
	
}
.ContactFormHeader span:hover{
	color: var(--dark-secondary-text);
	transition: 0.3s;
}

.ContactFormOptions{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0px 5px 0px;
}
.ContactFormOptions p{
	font-size: 16px;
	color: var(--dark-primary-text);
}
.ContactFormOptions span:hover{
	color: var(--dark-primary-heading);
	cursor: pointer;
}

.ContactFormBody{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 0px;
}

.ContactFormBody textarea{
	width: 600px;
	height: 500px;
	outline: none;
	font-size: 18px;
	color: var(--dark-primary-text);
	border: 1px solid rgb(100, 100, 100);
	border-radius: 8px;
	background: var(--dark-platform-color);
	padding: 5px 5px;
}

.ContactFormBody form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 0px 50px;
	width: 100%;
}
.contactFormSection{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 400px;
}
.contactFormSection label{
	font-size: 18px;
	color: var(--dark-primary-text);
	padding: 0px 0px 10px 0px;
}
.contactFormSection input{
	margin: 0px 0px 15px 0px;
	width: 100%;
	outline: none;
	font-size: 18px;
	color: var(--dark-primary-text);
	border: 1px solid rgb(100, 100, 100);
	border-radius: 8px;
	background: var(--dark-platform-color);
	padding: 5px 5px;
}


/* CONTACT PRIORITY */
.contactPriorityContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	gap: 0px 40px;
}
.contactPrioritySection{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 300px;
}
.contactPriorityTitle{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0px 10px;
	padding: 12px 30px;
	border-radius: 10px;
/*	background: var(--dark-platform-color);*/
}
.contactPriorityTitle h4{
	font-size: 18px;
	font-weight: 700;
	color: var(--dark-primary-heading);
}
.contactPriorityTitle p{
	font-size: 16px;
	font-weight: 400;
	color: var(--dark-secondary-text);
}
.contactPriorityList{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	box-shadow: 0px 0px 2px var(--dark-primary-heading);
	margin: 30px 0px;
}
.contactPriorityItem{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	padding: 20px 20px;
	cursor: pointer;
	background: var(--dark-platform-color);
}
.contactPriorityItemActive{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	padding: 20px 20px;
	cursor: pointer;
	background: var(--dark-primary-heading);
}
.contactPriorityItem:hover{
	background: var(--dark-primary-heading);
}
.contactPriorityItem:hover > p{
	color: var(--dark-primary-text);
}
.contactPriorityItem p{
	font-size: 18px;
	font-weight: 700;
	color: var(--dark-secondary-text);
}
.contactPriorityItemActive p{
	font-size: 18px;
	font-weight: 700;
	color: var(--dark-primary-text);
}

.contactPriorityItemCard{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border: 1px solid var(--dark-primary-heading);
	width: 100%;
}
.contactPriorityItemCard h5{
	font-size: 14px;
	font-weight: 500;
}
.contactPriorityItemCard p{
	font-size: 14px;
	font-weight: 300;
}